* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
}

.intestazione{
    display: flex;
    justify-content: flex-end;
    background-color: black;
    width: 100%;
}

.btn-1, .btn-2{
    background-color: #4A4A4A;
    margin: 0px 5px;
    padding: .3em;
    border-radius: .4em;
    color: white;
    font-size: 12px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.membro{
    width: 10%;
    height: 10%;
}

.membro img{
    border: 1px solid red;
    width: 50vh;
    margin: 10px 10px;
}

